<div class="container">
  <nav class="navbar">
    <div class="logo">
      <img src="assets/QUIZYM.png" alt="Quizym Logo" />
    </div>
    <div class="nav-links">
      <ul>
        <li><a routerLink="/">home</a></li>
        <li><a routerLink="/makequiz">makequiz</a></li>
      </ul>
      <div class="auth-buttons">
        <button class="log-in" routerLink="/login">log in</button>
        <button class="sign-up" routerLink="/signup">sign up</button>
      </div>
    </div>
  </nav>
</div>
  