.container {
  max-width: 100%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background-color: #E7F4FB;
}

.navbar {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
}

.logo {
  font-size: 12px;
  color: #333;
}

.logo img {
  width: 200px;
  height: auto;
  padding-left: 20px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links ul {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: #202B31;
  text-transform: lowercase;
}

.auth-buttons {
  display: flex;
  gap: 10px;
  background-color: #BBDEF0;
  border-radius: 17px;
}



.log-in {
  background-color: transparent;
  color: #202B31;
}

.sign-up {
  background-color: transparent; /* Fixed the incomplete property */
  color: white;
}

.log-in, .sign-up, .log-out {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  text-transform: lowercase;
  border-radius: 17px;
}

.log-out {
  background-color: transparent;
  color: #202B31;
}