<div class="container">
  <nav class="navbar">
    <div class="logo">
      <img src="assets/QUIZYM.png" alt="Quizym Logo" />
    </div>
    
    <!-- Afficher les liens seulement si on n'est pas sur la page participant -->
    <div class="nav-links" *ngIf="!isParticipantPage()">
      <ul>
        <li><a routerLink="/">home</a></li>
        <li><a routerLink="/makequiz">makequiz</a></li>
        <li *ngIf="isLoggedIn()"><a routerLink="/dashboard">dashboard</a></li>
      </ul>
      <div class="auth-buttons">
        <ng-container *ngIf="!isLoggedIn()">
          <button class="log-in" routerLink="/login">log in</button>
          <button class="sign-up" routerLink="/signup">sign up</button>
        </ng-container>
        <ng-container *ngIf="isLoggedIn()">
          <button class="log-out" (click)="logout()">logout</button>
        </ng-container>
      </div>
    </div>
  </nav>
</div>