

.navbar {
padding-top: 10px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
}

.logo {
  font-size: 12px;
  color: #333;
}

.logo img {
  width: 200px;
  height: auto;
  padding-left: 20px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links ul,li {
  display: flex;

  gap: 20px;
  padding: 0;
  margin: 0;
  float:left;
    margin-right:10px;
    list-style:none;
}

.nav-links a {
  text-decoration: none;
  color: #202B31;
  text-transform: lowercase;
}

.auth-buttons {
  display: flex;
  gap: 10px;
  background-color: #BBDEF0;
  border-radius: 17px;
  .btn {
    padding: 0.5rem 1.25rem;
    border-radius: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    background-color: #202B31;
    &:primary {
      background-color: #3f51b5;
      color: white;

      &:hover {
        background-color: #202B31;
      }
    }
  }

}

.log-in, .sign-up {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  text-transform: lowercase;
  border-radius: 17px;
  background-color: rgba(255, 255, 255, 0.8);
}

.log-in {
  background-color: transparent;
  color: #202B31;
}

.sign-up {
  background-color: transparent; /* Fixed the incomplete property */
  color: white;
}