
  <nav class="navbar">
    <div class="logo">
      <img src="assets/QUIZYM.png" alt="Quizym Logo" />
    </div>
    <div class="nav-links">
      <ul>
        <li><a routerLink="/">home</a></li>
        <li><a routerLink="/makequiz">makequiz</a></li>
      </ul>
      <div class="auth-buttons">
        
        <button (click)="openLoginModal()" id="log-in" type ="button" class="btn btn-primary">Log in</button>
        <button (click)="openSignupModal()" id="sign-up" type ="button" class="btn btn-primary">Sign up</button>
      </div>
    </div>
  </nav>
