
<div class="chat-container">
  <div class="input-container">
    <div class="editor-header">Add your questions</div>
    <div class="toolbar">
      <div class="toolbar-left">
      <button class="toolbar-btn bold">B</button>
      <button class="toolbar-btn italic">I</button>
      <button class="toolbar-btn underline">U</button>
      <button class="toolbar-btn">X<sup>2</sup></button>
      <button class="toolbar-btn">X<sub>2</sub></button>
    </div>
    <div class="toolbar-right">
      <span class="import-label">Import file</span>
      <button class="menu-btn">:</button>
    </div>
  </div>

    <div class="textarea-container">
      <textarea placeholder="Type your question here" class="message-input"></textarea>
    </div>
    <div class="action-bar">
      <label class="action-btn">- Mark: <span class="required">*</span>
      </label>
      <div class="input-value-container">
        <input type="text" class="input-value" >
      </div>
     
    </div>
  </div>
</div>