.form-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;


  box-shadow: 0 5px 15px rgba(0,0,0,0.1);

  background-color:rgba(255, 255, 255, 0.8);
  border-radius: 17px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);

}

.form-title {
  text-align: center;
  color: #BBDEF0;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: bold;
}
h2{
  text-align:center;
  margin-top: 10%;
  text-align: center;
  color: #BBDEF0;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: bold;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  color: #333 ;
  font-weight: 500;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #333;
  border-radius: 5px;
  font-size: 16px;
  border-radius: 17px;
}

.form-group input:focus {
  outline: none;
  border-color:  #202B31;
  box-shadow: 0 0 0 2px rgba(210, 153, 133, 0.2);
}

.error-message {
  color: #d9534f;
  font-size: 12px;
  margin-top: 5px;
}

.btn {
  padding: 0.75rem 1.5rem;
  max-width: 100%;
  border-radius: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  font-size: 1rem;
  background-color:#202B31;
color: white;
}
.btn:hover {
  background-color: #f39c12;
  color: white;
}
 
  .btn:disabled {
  background-color: #BBDEF0;
  color:white ;
  }
 .btn-primary {
  background-color: #BBDEF0;
  color: white;
  border-radius: 17px;
  transition: background-color 0.3s;
 }

 .btn-primary:hover {
 background-color: #202B31; 
}
.form-footer {
  text-align: center;
  margin-top: 25px;
}

.form-footer a {
  color:#BBDEF0;
  text-decoration: none;
  font-weight: 500;
}

.form-footer a:hover {
  text-decoration: underline;
  color: #202B31;
}