<table class="table table-striped">
	<thead>
	  <tr>
		<th scope="col">  id</th>
		<th scope="col"> fullname</th>
		<th scope="col">  username</th>
		<th scope="col">  email</th>
		<th scope="col">  password</th>
	<th></th> 
	</tr>
	</thead>
	<tbody>
		@for(creator of creators(); track creator.id){
			<tr>
		<td>{{creator.id}}</td>
		<td>{{creator.fullname}}</td>
		<td>{{creator.username}}</td>
		<td>{{creator.email}}</td>
		<td>{{creator.password}}</td>
		<td><img src="{{creator.photo}}" class="photo"></td>
		<td>
			<button class="btn-delete" (click)="openDeleteModal(creator)">Supprimer</button>
		  </td>
		  
		  <td>
			<button class="btn-update" (click)="updateCreator(creator)">Modifier</button>
		  </td>
		  
	</tr>
	}
	</tbody>
  </table>