<div class="card user-profile-card">
  <div class="card-body d-flex">
    <div class="profile-image-container position-relative">
      
      <!-- Image cliquable en mode édition -->
      <label *ngIf="editMode" for="fileInput" class="cursor-pointer">
        <img
        [src]="getProfileImageSrc()"
        (error)="onImageError($event)"
          alt="Profile"
          class="profile-image editable"
        />
      </label>

      <!-- Image non cliquable en mode lecture -->
      <img
        *ngIf="!editMode"
        [src]="getProfileImageSrc()"
        (error)="onImageError($event)"

        alt="Profile"
        class="profile-image"
      />

      <!-- Champ fichier invisible -->
      <input
        type="file"
        id="fileInput"
        class="d-none"
        (change)="onFileSelected($event)"
        accept="image/jpeg,image/png"
      />

    </div>

    <div class="ms-4 flex-grow-1">
      <h5>My profile</h5>
      
      <!-- Mode lecture -->
      <div *ngIf="!editMode">
        <div class="form-group mb-3">
          <label class="form-label">Fullname</label>
          <div class="form-control">{{ creator.fullname }}</div>
        </div>
        <div class="form-group mb-3">
          <label class="form-label">Username</label>
          <div class="form-control">{{ creator.username }}</div>
        </div>
        <div class="form-group mb-3">
          <label class="form-label">Email</label>
          <div class="form-control">{{ creator.email }}</div>
        </div>
        <button class="btn btn-primary mt-3" (click)="changeEditMode()">Modifier</button>
      </div>
      
      <!-- Mode édition -->
      <div *ngIf="editMode">
        <div class="form-group mb-3">
          <label class="form-label">Fullname</label>
          <input type="text" class="form-control" [(ngModel)]="creator.fullname">
        </div>
        <div class="form-group mb-3">
          <label class="form-label">Username</label>
          <input type="text" class="form-control" [(ngModel)]="creator.username">
        </div>
        <div class="form-group mb-3">
          <label class="form-label">Email</label>
          <input type="text" class="form-control" [(ngModel)]="creator.email">
        </div>
        <div class="mt-3">
          <button class="btn btn-success me-2" (click)="saveChanges()">Enregistrer</button>
          <button class="btn btn-secondary" (click)="cancelEdit()">Annuler</button>
        </div>
      </div>
      
    </div>
  </div>
</div>