<div class="d-flex">
    <div ngbNav #nav="ngbNav"
         [(activeId)]="active"
         class="nav-pills flex-column p-3 menu-container"
         orientation="vertical">
         
      <ng-container ngbNavItem="profile">
        <button ngbNavLink>My Profile</button>
        <ng-template ngbNavContent>
          <app-profile></app-profile> 
        </ng-template>
      </ng-container>
  
      <ng-container ngbNavItem="exams">
        <button ngbNavLink>My Exams</button>
        <ng-template ngbNavContent>
          <app-exam></app-exam>
        </ng-template>
      </ng-container>
  
    </div>
  
    <div [ngbNavOutlet]="nav" class="ms-4 flex-grow-1"></div>

  </div>
  