html, body {
    height: 100%;
    margin: 0;
  }
  
  .d-flex {
    height: 100vh; /* toute la hauteur de la fenêtre */
  }
  
.menu-container {
  background-color: transparent;
  width: 150px; /* largeur fixe */
  height: 100vh; /* toujours pleine hauteur */
  padding: 10px;
  border: none;
  flex-shrink: 0; /* empêche de se réduire */
  box-sizing: border-box;
}
  
  .menu-container button {
    border: 1px solid #87CEFA; /* Cadre bleu ciel autour de CHAQUE bouton */
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
    background: none;
  }
  
  .menu-container button.active {
    background-color: #b3e5fc; /* Fond bleu clair pour l'élément actif */
    border-radius: 4px;
  }
  