
  <div class="landing-content">
    <div class="description">
      <p>
        Quizym is an easy-to-use, customizable
        online testing solution for business,
        training & educational assessments with
        Tests & Quizzes graded instantly, saving
        hours of paperwork!
      </p>
      <div class="cta-section">
        <p>
          Create your first quiz!
        </p>
        <button class="create-quiz" (click)="createQuiz()" >
          create
        </button>
      </div>
    </div>
  </div>
    <footer>
      <p>&copy; 2025 Quiz Maker. All rights reserved.</p>
    </footer>
  
